<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/foundation.min.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <button class="button primary" @click="timeCycle">Time Cycle</button>
    <svg style="width:100%;height:30px;">
        <g v-for="(ant,index) in orderedColony">
            <rect :style="colorMap(index,ant.type)"></rect>
        </g>
    </svg>
    <ul>
        <li v-for="(type,count) in typeCount">
            {{type}}: {{count}}
        </li>
    </ul>
    <table class="table">
        <thead>
        <th>Unassigned</th>
        <th>Breeder</th>
        <th>Soldier</th>
        <th>Worker</th>
        <th>Gatherer</th>
        </thead>
        <tbody>
        <tr v-for="tc in history">
            <td>{{tc.Unassigned}}</td>
            <td>{{tc.Breeder}}</td>
            <td>{{tc.Soldier}}</td>
            <td>{{tc.Worker}}</td>
            <td>{{tc.Gatherer}}</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function Ant(type,memory) {
        if (type) {
            this.type = type;
        } else {
            this.type = 'Unassigned';
        }
        this.memory = memory || 10;
        this.last_met = [];
        this.proportions = {Worker: 0.25, Gatherer: 0.25, Soldier: 0.25, Breeder: 0.25}
    }

    Ant.prototype.setType = function (type) {
        this.type = type;
    };
    Ant.prototype.meet = function (otherAnt) {
        this.last_met.splice(0, 0, otherAnt.type);
        if (this.last_met.length > 10)
            this.last_met.pop();

        var meet_proportions = this.last_met.reduce(function (res, item) {
            res[item] = (res[item] || 0) + 1;
            return res;
        }, {});
        for (var i in this.proportions) {
            meet_proportions[i] = parseFloat(meet_proportions[i] || 0) / parseFloat(this.last_met.length);
        }
//        console.log('Meet Proportions', meet_proportions);
        var variance = {};
        var max_variance = ['Unassigned', 0.0];
        for (var i in meet_proportions) {
            variance[i] = meet_proportions[i] - this.proportions[i];
            if (max_variance[1] > variance[i]) {
                max_variance = [i, variance[i]]
            }
        }
//        console.log('Variance', variance);
//        console.log('Max Variance', max_variance);
        this.type = max_variance[0];

    };
    var app = new Vue({
        el: '#app',
        data: {
            colony: [],
            timeCycleLength:10,
            antMemory:10,
            history:[]
        },
        created: function () {
            for (var i = 0; i < 100; i++) {
                this.colony.push(new Ant('Unassigned',this.antMemory))
            }
        },
        computed: {
            orderedColony: function () {
                return this.colony.sort(function (a, b) {
                    return a.type < b.type ? -1 : 1
                });
            },
            typeCount: function () {
                return this.colony.reduce(function (res, item) {
                    res[item.type] = (res[item.type] || 0) + 1;
                    return res;
                }, {});
            }
        },
        methods: {
            colorMap: function (index, type) {
                var map = {
                    Unassigned: 'gray',
                    Worker: 'red',
                    Gatherer: 'green',
                    Soldier: 'yellow',
                    Breeder: 'purple'
                };
                return {fill: map[type], width: '10px', height: '10px', x: index * 15 + 'px', y: 0}
            },
            timeCycle: function () {
                for (var j = 0; j < this.timeCycleLength; j++) {
                    for (var i in this.colony) {
                        var ind = parseInt(Math.random() * this.colony.length);
                        if (ind == i) {
                            ind = parseInt(Math.random() * this.colony.length);
                        }
                        this.colony[i].meet(this.colony[ind]);
                    }
                }
                this.history.push(this.typeCount);
            }
        }
    })
</script>
</body>
</html>
